@import '../styles/variables';

.head{
  margin-top: 20px;
    display: flex;
    align-items: center;  
    .logo-head{
      max-width: 70px;
      max-height: 70px;
    }
    form{
      width: 90%;
    }
    .search-in{
          background-color:transparent;
          background: none;
          border:none;
          outline:none;
          border-bottom: 2px solid whitesmoke;
          width: 100%;
          font-size: 2rem;
          &:focus{
              border-bottom: 2px solid $purple;
          }
    }
    
}
