.head .types-menu{
  padding: 1em 0;
  border-bottom: 0.15em solid;
}
.head .type-buttons{
  padding: 1em 4em;
  margin-left: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #fff;
  background: transparent;
}
