.landing-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    #logo-landing{
        max-width: 30%;
        margin: 7rem auto 0; 
     }
    h1{
        text-align: center;
    }
    .landing-options{
        display: flex;
    }
}
