.asset-content{
  padding-top: 3%;
}
.asset-name{
  color: #b08cf9;
}
.asset-img{
  width: 100%;
  border-radius: 5%;
}
.asset-description{
  color: whitesmoke;
}
.asset-content .btn-main{
  padding: 1rem 0px;
  width: 100%;
  margin-top: 2rem;
}

.asset-att{
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  span{
    color: white;
  }
  .owner-name{
    font-size: 1.2rem;
  }
}