  .btn-main{
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border: 3px solid #fff;
    background: transparent;
    position: relative;
    color: #fff;
    transition: all 0.3s ease 0s;
    &:disabled{
      border: none;
      color: gray;
      cursor: not-allowed;
    }
  }
  .btn-main:not(:disabled):hover,
  .btn-main:not(:disabled):focus {
    color: black;
    background-color: transparent;
    z-index: 1;
  }
  .btn-main:after{
    content: "";
    position: absolute;
    transition: all 0.3s ease 0s;
    z-index: -1;
    background: white;
    top:0; bottom: 0; left: 0; right: 100%;
  }
  .btn-main:not(:disabled):hover:after, .btn-main:not(:disabled):focus:after {
    right:0;
  }
  .btn-input{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .user-avatar{
    width: 10em;
    height: 10em;
    border: solid white;
    border-radius: 20px;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-size: 7em;
    }
}

.user-info{
    font-size: 1.5em;
}
.socials{
    i{
        font-size: 3em;
        margin: 0.3em;
        cursor: pointer;
        &.enabled{
            color: $purple;
        }
        &.disabled{
            color: #8c8888;
        }
    }
}