// This scss is aplied to the entire project
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import './variables.scss';
@import './style.scss';
@import './grid.scss';



body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark-night;
}


