/*black: #151412
purple: #b08cf9
grey-light: #9c9c9c
*/
body{
    background-color: #151412;
}
.main-grid img{
    max-width:  100%;
}
.grid {
    position: relative;
    margin: 177px auto 120px;
    /*max-width: 1000px;*/
    /*width: 90%;*/
}
.grid .item{
    position: relative;
    overflow: hidden;
    margin: 5px;
    display: grid;
    width: 30%;
    float: left;
}
.grid a {
    max-width: 400px;
    color: #333;
}
.grid figure {
    position: relative;
    overflow: hidden;
    margin: 5px;
    background: #333;
    border-radius: 20px;
}
.grid figure img {
    position: relative;
    display: block;
    width: 100%;
    height: 228px;
}
.grid figcaption {
    position: absolute;
    top: 0;
    z-index: 11;
    padding: 10px;
    height: 100%;
    width: 100%;
    text-align: center;
}
.grid figcaption h2 {
    display: none;
    margin: 0 0 20px 0;
    color:  #b08cf9;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 130%;
    transition: transform 0.3s;
}
.grid figcaption p {
    padding: 0 20px;
    color: #aaa;
    font-weight: 300;
    transition: opacity 0.3s, transform 0.3s;
}
.grid figcaption h2,
.grid figcaption p {
    transform: translateY(20px);
}
.grid figure button {
    cursor: pointer;
    position: absolute;
    padding: 4px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%) scale(0.25);
    transition: opacity 0.3s, transform 0.3s;
}
.grid a:hover button {
    opacity: 1;
    transform:  translateY(-50%) translateX(-50%) scale(1);
}

.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.grid svg {
    position: absolute;
    top: -1px;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.grid a:hover figure img {
    opacity: 1;
}

.grid a:hover figcaption h2,
.grid a:hover figcaption p {
    transform: translateY(0);
}
.grid a:hover figcaption p {
    opacity: 0;
}
.grid .item .item-atributes i{
    margin-left: 5px;
}
.grid .item .item-atributes *{
    color:  #9c9c9c;
    font-size: 0.85em;
}

@media screen and (max-width: 58em) {
    .grid .item{
        width: 33.333%;
    }
}

@media screen and (max-width: 45em) {
    .grid {
        max-width: 500px;
    }

    .grid .item {
        width: 50%;
    }

    .grid figcaption h2 {
        margin-bottom: 0px;
        transform: translateY(30px);
    }

    .grid figcaption p {
        margin: 0;
        padding: 0 10px;
    }
}

@media screen and (max-width: 27em) {
    .grid {
        max-width: 250px;
    }

    .grid .item {
        width: 100%;
    }
}