@import '../../styles/variables';

.LoginPage{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    .LoginCard{
        background: #474A59;
        box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
        color: #F1F1F2;
        position: relative;
        width: 50%;
        min-height: 300px;
        padding: 7%;
        #logintype{
            display: flex;
            justify-content: space-around;
            font-size: 1.7rem;
            margin-bottom: 1em;
            .log-btn{
                padding: 0.2rem 1em;
                color: $purple;
                cursor: pointer;
                border: solid $purple;
                background-color: transparent;
                &.active{
                    color: white;
                    padding: 0.2em 1.5em;
                    background-color: $dark-night;
                    border: none;
                    cursor: not-allowed;
                }
                &:hover:not(.active){
                    background: $purple;
                    color: white;
                }
            }
        }
    }
    form{ 
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        label{
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 1.2rem;
        }
        input, 
        input:-webkit-autofill
        {
            background-color:transparent;
            background: none;
            border:none;
            outline:none;
            border-bottom: 2px solid whitesmoke;
            &:focus{
                border-bottom: 2px solid $purple;
            }
        }
        .btn-main{
            margin-top: 2em;
            padding: 1rem 4rem;
            position: relative; 
           
        }
    }
    .noerror{
        display: none;
    }
    .errormsg{
        text-align: center;
        margin-top: 30px;
        color: $red-pink;
        display: block;
        font-size: 1.7em;
    }
}
.socialaccount_provider {
    font-size: 1.5rem;
}